@import url(https://fonts.googleapis.com/css?family=Sofia);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100%;
  background-image: url('../img/top2.jpeg');
  background-repeat: repeat;
}

#entranceimg {
  position: fixed;
  width: 100%;
}

#banner{
  width: 100%;
  height: 100px;
  overflow: hidden;
}
#banner img{
  width: 100%;
}
#banner p{
  font-family: "Sofia", sans-serif;
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  color: firebrick;
  letter-spacing: 10px;
}

.footer {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(#88564e, #492019);
  color: white;
  position: relative;
  width: 100%;
  bottom: 0px;
}

.topnav {
  position: relative;
  width: 100%;
  min-height: 66px;
  background-image: linear-gradient(#88564e, #492019);
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid goldenrod;
  border-radius: 10px;

}

.topnav .logo{
  color: #fff;
  font-size: 1.75em;
  font-weight: 600;
  text-decoration: none;
  font-family: "Sofia", sans-serif;
}

.topnav ul {
  position: relative;
}

.topnav ul li{
  position: relative;
  list-style: none;
  float: left;
}

.topnav ul li a
{
  color: #fff;
  font-size: 1.1em;
  padding: 20px 25px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-family: "Sofia", sans-serif;
}

.topnav ul li a:hover {
  background: #2b93e3;
}


/*make the nav responsive*/
@media (max-width: 650px) {
  .topnav{
    padding: 10px 20px;
  }
  .topnav nav {
    position: absolute;
    width: 100%;
    top: 66px;
    left: 0;
    background: #445964;
    display: none;
  }
  /*control the nav showup*/
  .topnav.active nav {
    display: initial;
  }
  .topnav nav ul li {
    width: 100%;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuToggle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;
  }
  .menuToggle::after {
    content: '';
    position: relative;
    width: 100%;
    height: 3px;
    background: #fff;
    transform: translateY(12px);
  }
  .topnav.active .menuToggle::before {
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }
  .topnav.active .menuToggle::after {
    transform: rotate(315deg);
    box-shadow: 0 0 #fff;
  }
}


/*---main---*/

.container
{
  position: relative;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.container .ctitle
{
  position: relative;
  font-size: 35px;
  font-weight: bold;
  width: 100%;
  height: 70px;
  text-align: center;
  border: 3px solid goldenrod;
  border-radius: 10px;
  background-image: linear-gradient(#88564e, brown);
}
.cwordtitle
{
  font-family: "Sofia", sans-serif;
  color: goldenrod;
}
.cword
{
  font-family: "Sofia", sans-serif;
  color: #4c221b;
}
.container .card
{
  position: relative;
  max-width: 500px;
  height: 215px;
  background: #f2ecde;
  margin: 50px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover
{
  height: 720px;
}
.container .card .imgBx
{
  position: relative;
  width: 500px;
  height: 250px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  background-color: brown;
}
.container .card .imgBx div
{
  position: relative;
  width: 250px;
  height: 250px;
  left: 250px;
  top: -250px;
  text-align: center;
  padding: 80px 0px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Sofia", sans-serif;
  color: white;
}
.container .card .imgBx img
{
  width: 250px;
  border-radius: 4px;
}
.container .card .content
{
  position: relative;
  margin-top: -150px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .content
{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}


/*----index wnews----*/

#wnews {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 15px;
  box-shadow: 5px 5px 5px #888888;
  width: 100%;
  min-height: 700px;
  font-size: 30px;
  background: #f2ecde;
  font-family: "Sofia", sans-serif;
  color: #4c221b;
}

#wnews h2{
  text-align: center;
  font-family: "Sofia", sans-serif;
}

/*----musicconcert----*/

#mnews {
  border: 3px solid #4c221b;
  border-radius: 10px;
  margin: 20px auto;
  padding: 15px;
  box-shadow: 5px 5px 5px #888888;
  width: 80%;
  height: auto;
  font-size: 20px;
  background: #f2ecde;
}

#mnews img {
  width: 100%;
}

@media (max-width: 650px) {
  #mnews {
    width: 100%;
  }
}


/*---Join us---*/

#newmember
{
  width: 60%;
  height: auto;
  margin: 20px auto;
  padding: 20px 15px;
  border: 3px solid #4c221b;
  border-radius: 10px;
  text-align: center;
  background: #f2ecde;

}

#newmember h2, #newmember p {
  color: goldenrod;
  font-family: "Sofia", sans-serif;
  font-size: 50px;
}


#form {
  border: 3px solid #4c221b;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  margin-top: 90px;
  background: #f2ecde;
  font-size: 20px;
}

#formtag {
  text-align: center;
  padding: 10px 0;
}

#formtag h2 {
  font-family: "Sofia", sans-serif;
  font-size: 50px
}

#contactus {
  width: 70%;
  margin: 10px auto;
}

.infor {
  width: 100%;
  height: 30px;
  border: 2px solid #4c221b;
  border-radius: 5px;
}

.sbtn {
  width: 100px;
  height: 30px;
  border: 2px solid #4c221b;
  border-radius: 5px;
}

/*---shop---*/

.shopcontainer
{
  position: relative;
  width: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.shopcontainer .card
{
  position: relative;
  min-width: 300px;
  height: 400px;
  margin: 50px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  border: 3px solid #4c221b;
  border-radius: 10px;
  text-align: center;
  background: #f2ecde;
}

.shopcontainer .card .content .content2
{
  position: absolute;
  width: 90%;
  bottom: 20px;
}

.shopimg {
  height: auto;
  margin : auto;
}

/*---entrance---*/

#intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-image: url(../img/button.png);
  border-radius: 50%;
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,202,170, 1);
  }
  70% {
      -webkit-box-shadow: 0 0 0 70px rgba(255,202,170, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,202,170, 0);
  }
}

#intro a {
  font-size: 65px;
  font-weight: bold;
  text-decoration: none;
  color: transparent;
  letter-spacing:4px;
     background-image: linear-gradient(
	to right,
	#462523 0,
    #cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
  -webkit-background-clip: text;
  font-family: "Sofia", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*---index---*/

#welcomeMsg {
	font-family: "Sofia", sans-serif;
}




